.raffled-container {
    margin: auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.raffled-sprite {
    max-width: 150px;
    width: 100%;
}

.raffled-sprite img {
    max-width: 150px;
    width: 100%;
}

.raffled-info {
    margin: auto;
    max-width: 200px;
    width: 100%;
    font-size: .9rem;
}

.raffled-details {
    display: flex;
    justify-content: space-evenly;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 5px;
}

.date {
    background-color: var(--vote-color);
    color: var(--success-color);
}

.vote {
    background-color: var(--vote-color);
    color: var(--warning-color);
}

.ri-line {
    font-size: 1.5rem;
    margin-right: 5px;
}