.button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.raffle-button {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: var(--button-color);
    padding: 10px;
    width: 100%;
    min-width: 210px;
    max-width: 270px;
    border-radius: 30px;
    transition: 200ms all ease-in-out;
}

.raffle-button:hover {
    background-color: var(--hover-color);
    color: var(--hovertext-color);
}

.add-button {
    font-size: 2.5rem;
    color: var(--specialtext-color);
}

.form-button {
    margin-top: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: var(--button-color);
    padding: 10px;
    width: 100%;
    min-width: 280px;
    max-width: 280px;
    border-radius: 10px;
    transition: 200ms all ease-in-out;
}

.form-button:hover {
    background-color: var(--hover-color);
    color: var(--hovertext-color);
}

.navlink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.534);
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.navlink:hover {
    color: var(--specialtext-color);
}