.raffle {
    background-color: var(--raffle-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.raffle-container {
    align-items: center;
    justify-content: center;
    text-align: center;

}

.input-container {
    margin: auto;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    width: 90%;
    max-width: 250px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
}

.input-container input {
    font-family: 'Poppins', sans-serif;
    background: transparent;
    color: var(--text-color);
    outline: none;
    width: 80%;
    margin-left: 10px;
    border: none;
}
