.raffle {
    position: fixed;
    background-color: var(--raffle-color);
    right: 0;
    width: 100vh;
    height: 800px;
}

.raffle-container {
    padding: 50px;
}

.raffle-button {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: var(--tertary-color);
    width: 54%;
    padding: 10px;
    border-radius: 30px;
}

.input-container {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    width: 50%;
    display: flex;
    border-radius: 10px;
    padding: 10px;
}

.input-container input {
    font-family: 'Poppins', sans-serif;
    background: transparent;
    color: var(--text-color);
    outline: none;
    max-width: 200px;
    width: 80%;
    margin-left: 10px;
    border: none;
}

.input-container button {
    font-size: 1.5em;
    color: var(--specialtext-color);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}