.raffle {
  background-color: var(--raffle-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.raffle-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

.input-container {
  margin: auto;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  width: 90%;
  max-width: 250px;
  max-height: 25px;
  height: 100%;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  transition: 200ms all ease-in-out;
}

.input-container:focus-within {
  border: 2px solid var(--hover-color);
}

.bar {
  background-color: var(--border-color);
  height: 300px;
  width: 2px;
  margin-left: 50px;
  margin-right: 50px;
}

.movies-container {
  max-width: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-message {
  min-width: 200px;
  width: 55%;
  font-size: 1.5rem;
}

.error-input {
  border: 2px solid var(--error-color) !important;
}
  
h1 {
  margin: 0;
}

p {
  color: var(--subtext-color);
  margin: 10px auto;
}

span {
  color: var(--specialtext-color);
  font-weight: bold;
}

  