.nav {
    position: fixed;
    background-color: var(--grey-color);
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.menu-container {
    display: flex;
}

ul {
    list-style: none;
}

ul > li {
    color: rgba(255, 255, 255, 0.534);
    cursor: pointer;
}

ul > li:hover {
    color: var(--specialtext-color);
}