:root {
    /* Primary Colors */
    --primary-color: #5A4AF4;
    --secondary-color: #1EA5FC;
    --tertary-color: #B66DFF;
    /* System Colors */
    --success-color: #05CE91;
    --error-color: #FF6161;
    --warning-color: #FFAD49;
    /* Neutrals Colors */
    --black-color: #20283E;
    --grey-color: #121829;
    --white-color: #FFFFFF;
    /* Text Colors */
    --text-color: #EBEEF5;
    --subtext-color: #8E95A9;
    --specialtext-color: #9C92F8;
}