@media (max-width: 990px) {
  html {
    font-size: 50%;
  }

  .home-banner {
    display: none;
  }
}

@media (max-width: 700px) {

  html {
    font-size: 25%;
  }

  .main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .raffle {
    flex-direction: column;
    width: 220px;
    height: auto;
  }

  .raffle-container {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0;
  }

  .input-container {
    margin: auto;
    height: 10px;
  }

  .raffle-button {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-container input {
    font-size: 2rem;
  }

  .home-message {
    margin: auto;
    text-align: center;
  }

  .nav {
    font-size: 2.5rem;
  }

  .nav img {
    width: 20px;
  }

  .movies-sprites {
    padding: 0;
    width: 120%;
  }

}