@media (max-width: 1800px) {

  html {
    font-size: 50%;
  }

  .main {
    margin-top: 100px;
  }

  .home-banner img {
    width: 200px;
  }
  
  .raffle {
    width: 95%;
  }
  
  .raffled-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .raffled-sprite img {
    width: 150px;
  }

  .raffled-info {
    margin-left: 40px;
    font-size: 1rem;
    width: 100%;
  }

  .details {
    font-size: 1.5rem;
    width: 50px;
    border-radius: 3px;
  }

  .ri-line {
    font-size: 2rem;
  }

}

@media (max-width: 990px) {
  html {
    font-size: 50%;
  }

  .home-banner {
    display: none;
  }
}

@media (max-width: 700px) {

  html {
    font-size: 25%;
  }

  .main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .raffle {
    flex-direction: column;
    width: 220px;
    margin: auto;
  }

  .raffle-container {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0;
  }

  .input-container {
    margin: auto;
    height: 10px;
  }

  .raffle-button {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-container input {
    font-size: 2rem;
  }

  .home-message {
    margin: auto;
    text-align: center;
  }

  .nav {
    font-size: 2.5rem;
  }

  .nav img {
    width: 20px;
  }

  .bar {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 2px;
    width: 250px;
  }

  .raffled-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .raffled-sprite img {
    width: 100%;
  }

  .raffled-info {
    margin: 0;
    font-size: 1.2rem;
    width: 100%;
  }

  .details {
    font-size: 2rem;
    width: 50px;
    border-radius: 3px;
  }

  .ri-line {
    font-size: 2.3rem;
  }

}