.App {
  color: var(--text-color);
}

.main {
  margin-top: 200px;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.home-message {
  min-width: 200px;
  width: 80%;
  font-size: 1.5rem;
}

p {
  color: var(--subtext-color);
}

span {
  color: var(--specialtext-color);
}

@media (max-width: 990px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 700px) {

  html {
    font-size: 25%;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .raffle {
    flex-direction: column;
    width: 220px;
    height: 500px;
  }

  .raffle-container {
    text-align: center;
  }

  .input-container {
    margin: auto;
  }

  .home-message {
    margin: auto;
    text-align: center;
  }

}
